In [19]:
import matplotlib.pyplot as plt
from pycaret.datasets import get_data
from pycaret.regression import *
from pandas import DataFrame
from itertools import combinations
from math import comb

## An issue with time to run
- Takes ~35 minutes to run ${14 \choose 1} = 14$ times, getting only 3 models instead of all
  - ${35 \over 14} = 2.5$ minutes per run
- So, to run ${14 \choose 3} = 364$ times would take ${364 \times 2.5} = 910$ minutes
- If I want to include all cases, could take up to $5500$ minutes (running for all models once generally takes about 15 minutes)

In [21]:
df = get_data('data/initial_features')

df[['weight', 'pace']] = df['experimental_condition'].str.split('-', expand=True)

df['weight'] = df['weight'].str.replace('Condition ', '').astype(float)
df['pace'] = df['pace'].astype(int)

df['rpe'] = df['rpe'].fillna(method='ffill')
df['rpe'] = df['rpe'].astype(int)


COMBINATIONS = 1
combinations_list = list(combinations(df['subject'].unique(), COMBINATIONS))

# comb(14, 3)

In [25]:
models_df = DataFrame({
    "Model": [], "MAE": [], "MSE": [], "RMSE": [], "R2": [], "RMSLE": [], "MAPE": [], "TT (Sec)": [], "Training Subjects": []
})

In [26]:
for sub in combinations_list:
    train = df[~df['subject'].isin(sub)]
    test = df[df['subject'].isin(sub)]

    reg = setup(data=train, target='rpe')
    best = compare_models(sort='MAE', include=['rf', 'gbr', 'dt'])
    all = pull()

    # Stored in separate df?
    # pred = predict_model(best, data=test)

    for index, row in all.iterrows():
        models_df = models_df.append({
            "Model": row['Model'],
            "MAE": row['MAE'],
            "MSE": row['MSE'],
            "RMSE": row['RMSE'],
            "R2": row['R2'],
            "RMSLE": row['RMSLE'],
            "MAPE": row['MAPE'],
            "TT (Sec)": row['TT (Sec)'],
            "Training Subjects": sub
        }, ignore_index=True)

models_df
models_df.to_csv('outputs/models.csv', index=False)

# -= FOR MY COMPUTER =-
# Takes ~35 minutes to run 14 times (14 choose 1), getting only 3 models instead of all
#   --> 2.5 minutes per run
# So, to run 364 times (14 choose 3) would take 364*2.5=~910 minutes
# if want to include all cases, could take up to 5500 minutes (running for all models once generally takes about 15 minutes)

Initiated  . . . . . . . . . . . . . . . . . .              17:19:13
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/17 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              17:21:37
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/17 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              17:23:59
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/17 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              17:26:25
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/17 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              17:28:54
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Initiated  . . . . . . . . . . . . . . . . . .              17:31:27
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/17 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              17:36:32
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Initiated  . . . . . . . . . . . . . . . . . .              17:39:01
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/17 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              17:41:33
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/17 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              17:46:32
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/17 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              17:49:00
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/17 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              17:51:26
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/17 [00:00<?, ?it/s]

In [6]:
train = df[~(df['subject'] == 1)]
test = df[df['subject'] == 1]

reg = setup(data=train, target='rpe')
best = compare_models(sort='MAE', include=['rf', 'gbr', 'dt'])
pull()

Initiated  . . . . . . . . . . . . . . . . . .              15:45:47
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

,Model,MAE,MSE,RMSE,R2,RMSLE,MAPE,TT (Sec)
dt,Decision Tree Regressor,0.8934,2.9732,1.7090,0.5204,0.5184,0.3101,3.367
rf,Random Forest Regressor,0.9102,1.7000,1.3006,0.7275,0.4388,0.2648,4.383
gbr,Gradient Boosting Regressor,1.2977,2.8578,1.6898,0.5389,0.5478,0.3999,3.775

In [17]:
pred = predict_model(best, data=test)

In [15]:
models_df_new = df = get_data('outputs/models')
models_df_new

,Model,MAE,MSE,RMSE,R2,RMSLE,MAPE,TT (Sec),Training Subjects,Training Subjects
0,Random Forest Regressor,0.9646,1.8523,1.3551,0.7079,0.4587,0.2888,4.290,NaN,"(1,)"
1,Decision Tree Regressor,0.9749,3.3344,1.8158,0.4682,0.5559,0.3363,3.633,NaN,"(1,)"
2,Gradient Boosting Regressor,1.3166,2.9408,1.7077,0.5359,0.5521,0.4099,4.082,NaN,"(1,)"
3,Random Forest Regressor,0.9839,1.9464,1.3923,0.6857,0.4701,0.3058,4.655,NaN,"(2,)"
4,Decision Tree Regressor,1.1281,3.8628,1.9559,0.3698,0.6124,0.4164,3.821,NaN,"(2,)"
5,Gradient Boosting Regressor,1.2233,2.6646,1.6298,0.5693,0.5383,0.3956,4.337,NaN,"(2,)"
6,Random Forest Regressor,0.8940,1.6578,1.2863,0.6904,0.4468,0.2712,4.641,NaN,"(3,)"
7,Decision Tree Regressor,0.9434,3.0730,1.7410,0.4183,0.5606,0.3583,3.839,NaN,"(3,)"
8,Gradient Boosting Regressor,1.2154,2.5923,1.6087,0.5164,0.5455,0.3869,4.115,NaN,"(3,)"
9,Random Forest Regressor,0.9631,1.8916,1.3700,0.6985,0.4624,0.2910,4.683,NaN,"(4,)"
10,Decision Tree Regressor,1.0923,3.8736,1.9560,0.3844,0.5996,0.3932,3.859,NaN,"(4,)"
11,Gradient Boosting Regressor,1.2734,2.8883,1.6934,0.5411,0.5501,0.4006,4.290,NaN,"(4,)"