In [1]:
import matplotlib.pyplot as plt
from pycaret.datasets import get_data
from pycaret.regression import *
from pandas import DataFrame
from itertools import combinations
from math import comb

## An issue with time to run
- Takes ~35 minutes to run ${14 \choose 1} = 14$ times, getting only 3 models instead of all
  - ${35 \over 14} = 2.5$ minutes per run
- So, to run ${14 \choose 3} = 364$ times would take ${364 \times 2.5} = 910$ minutes
- If I want to include all cases, could take up to $5500$ minutes (running for all models once generally takes about 15 minutes)

In [2]:
df = get_data('data/initial_features')

df[['weight', 'pace']] = df['experimental_condition'].str.split('-', expand=True)

df['weight'] = df['weight'].str.replace('Condition ', '').astype(float)
df['pace'] = df['pace'].astype(int)

df['rpe'] = df['rpe'].fillna(method='ffill')
df['rpe'] = df['rpe'].astype(int)


COMBINATIONS = 3
combinations_list = list(combinations(df['subject'].unique(), COMBINATIONS))

# comb(14, 3)

In [3]:
models_df = DataFrame({
    "Model": [], "MAE": [], "MSE": [], "RMSE": [], "R2": [], "RMSLE": [], "MAPE": [], "TT (Sec)": [], "Training Subjects": []
})

In [26]:
for sub in combinations_list:
    train = df[~df['subject'].isin(sub)]
    test = df[df['subject'].isin(sub)]

    reg = setup(data=train, target='rpe')
    best = compare_models(sort='MAE', include=['rf', 'gbr', 'dt'])
    all = pull()

    # Stored in separate df?
    # pred = predict_model(best, data=test)

    for index, row in all.iterrows():
        models_df = models_df.append({
            "Model": row['Model'],
            "MAE": row['MAE'],
            "MSE": row['MSE'],
            "RMSE": row['RMSE'],
            "R2": row['R2'],
            "RMSLE": row['RMSLE'],
            "MAPE": row['MAPE'],
            "TT (Sec)": row['TT (Sec)'],
            "Training Subjects": sub
        }, ignore_index=True)

models_df
models_df.to_csv('outputs/models.csv', index=False)

# -= FOR MY COMPUTER =-
# Takes ~35 minutes to run 14 times (14 choose 1), getting only 3 models instead of all
#   --> 2.5 minutes per run
# So, to run 364 times (14 choose 3) would take 364*2.5=~910 minutes
# if want to include all cases, could take up to 5500 minutes (running for all models once generally takes about 15 minutes)

Initiated  . . . . . . . . . . . . . . . . . .              17:19:13
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/17 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              17:21:37
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/17 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              17:23:59
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/17 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              17:26:25
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/17 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              17:28:54
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Initiated  . . . . . . . . . . . . . . . . . .              17:31:27
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/17 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              17:36:32
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Initiated  . . . . . . . . . . . . . . . . . .              17:39:01
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/17 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              17:41:33
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/17 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              17:46:32
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/17 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              17:49:00
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/17 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              17:51:26
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/17 [00:00<?, ?it/s]